.messages {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.messagesTop {
  display: flex;
}
.messagesImg {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.messagesText {
  padding: 10px;
  border-radius: 10px;
  background-color: #1775f3;
  color: white;
  max-width: 300px;
  font-weight: 500;
}
.messagesbottom {
  font-size: 12px;
  margin-top: 10px;
}
.messages.own {
  align-items: flex-end;
}
.seenText {
  font-weight: bold;
  font-size: 7px;
  padding: 5px 0px 0px 5px;
  color: #00fb00;
}
.messages.own .messagesText {
  background-color: rgb(245, 241, 241);
  color: black;
}
.readMoreText {
  color: #cfd8d8;
  cursor: pointer;
}
.readMoreText.own {
  color: #1775f3;
}
